
.tooltip {
    //cursor: cell;
}

#tooltip {

    pointer-events: none;
    opacity: 0;
    //visibility: hidden;
    position: absolute;
    padding: 5px 15px;
    white-space: nowrap;
    transition: opacity .2s ease-out;
    &.show {
        opacity: 1;
        //visibility: visible;
    }
}