
$color-backgroud: #333 !default;
$color-text: #ddd;

$color-green: #037c50;
$color-red: #992600;

$wrapper-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

//$color-highlight-green-background: #00e673;
//$color-highlight-green-text: lightgreen;
//$color-highlight-red-background: lightcoral;
//$color-highlight-red-text: #f5a3a3;
//$color-highlight-blue-background: ;
//$color-highlight-blue-text: ;